@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=IBM+Plex+Serif:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=IBM+Plex+Serif:wght@400;500;600;700&display=swap');

body {
  font-family: 'IBM Plex Serif', serif;
}
/*===================================
              base styles
======================================*/
* {
  margin: 0;
  font-family: 'IBM Plex Serif', serif;
  color: #333;
}

a {
  color:#111111 !important;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
}
.navbar h1 {
  color: #feb60a;
  font-family: 'Fasthand', "cursive";
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #feb60a !important;
}
.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.home {
  height: 90vh;
}
.faq{
  margin-top: 40px;
}
/*===================================
            blog preview/list
===================================*/
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #feb60a;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
/*=========================
          blog details page
=========================*/
.blog-details h2 {
  font-size: 20px;
  color: #feb60a;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details {
  height: 100vh;
}
.blog-details button {
  background: #feb60a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
em {
  font-weight: bold;
  text-decoration: none;
  font-style: normal;
}
/*====================================
        create new blog form
====================================*/
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create * {
  border-radius: 8px;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #feb60a;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  outline: none;
}
.create button {
  background: #feb60a;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create textarea {
  height: 220px;
  resize: none;
}
/*===================================
             Loading 
======================================*/
.loading {
  margin: 0 auto;
  margin-top: 30vh;
  width: 80%;
  height: 40vh;
}
:root {
  --yellow: #feb60a;
  --red: #feb60a;
  --blue: #feb60a;
  --violet: #feb60a;
}
div.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading div > div {
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  margin: 2vw;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
  background-color: var(--yellow);
}

.red {
  background-color: var(--red);
  animation-delay: 0.1s;
}

.blue {
  background-color: var(--blue);
  animation-delay: 0.2s;
}

.violet {
  background-color: var(--violet);
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}
/*===================================
            footer style
======================================*/

.footer {
  border-top: 2px solid #f2f2f2;
}
.footer a {
  text-decoration: none;
}

.err img {
  margin-top: 20vh;
  width: 100%;
}

/*======================= break point============================ */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.App{
  height: fit-content;
}
/* ================Home page========================= */
.err img {
  margin-top: 30px;
  width: 100%;
}

.home {
  height: fit-content;
}
/* ================loading========================= */
.loading {
  margin-top: 30vh;
  width: 50%;
  height: 40vh;
}
.loading div > div {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  margin: 1vw;
  
}
}